*{
    box-sizing: border-box; /* calculate the box size ()height & width)
                           disregarding any border width and padding width */
}
body{
    background-color: rgb(30, 90, 30);
}
h2{
    color: white;
    text-align: center;
}
label{
    color: white;
}
#playerNoSection{
    text-align: center;
}
#inputSection{
    display: none;
}
#userNameTitle{
    display: none;
}
#startGame{
    display: none;
}
.playerName{
    text-align: center;
    width: 100px;
}
button{
    background-color: rgb(30, 90, 30);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
#flower{
    text-align: center;
    width: 50px;;
}
.inGame{
    display: none;
}
div{
    max-width: 480px;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
#innerBoxE-1{
    width: 30%;
    float: left;
    border: 0px;
}
#innerBoxE-2{
    width: 70%;
    float: left;
    border: 0px;
}
#innerBoxW-1{
    width: 30%;
    float: left;
    border: 0px;
}
#innerBoxW-2{
    width: 70%;
    float: left;
    border: 0px;
}
#innerBoxS-1{
    width: 30%;
    float: left;
    border: 0px;
}
#innerBoxS-2{
    width: 70%;
    float: left;
    border: 0px;
}
#innerBoxN-1{
    width: 30%;
    float: left;
    border: 0px;
}
#innerBoxN-2{
    width: 70%;
    float: left;
    border: 0px;
}
#loseSection{
    text-align: center;
    border: 0px;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#inputSection{
    text-align: center;
    border: 0px;
}
.titleSection{
    text-align: center;
    border: 0px;
}
#roundTitle{
    display: none;
}
#finishRound{
    display: none;
}
input[type="checkbox"] {
    cursor: pointer;
}
input[type="radio"] {
    cursor: pointer;
}
#scoreTable{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
}
.scoreBoard{
    visibility: hidden;
}
table{
    padding-top: 10px;
    padding-bottom: 10px;
}
th, td{
    text-align: center;
    padding-left: 30px; 
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nextButton{
    display: none;
    margin-left: 25%;
    margin-right: auto;
}
#totalScoreTitle{
    display: none;
}
#dividingLine{
    padding: 0px;
}
.finalWin{
    visibility: hidden;
}

.winning{
    position: relative;
    width: 300px;
    height: auto;
}
.winning img{
    width: 100%;
    height: auto;
    display: block;
}
.winText{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}



